@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background: #0077ff;
}

.contenedor{
    display: flex;
    width: 350px;
    height: 300px;
    color: #faebd7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 77px;
    background: #0c62c5;
    box-shadow:  11px 11px 22px #2b4e74,
                -11px -11px 22px #4171a8;
}

.titulo{
    font-size: 2rem;
    margin-bottom: 25px;
}

.contar{
    font-size: 5rem;
    color: blue;
}

.botones{
    margin-top: 10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-right:  50px;
    padding-left:  50px;
}

button{
    margin: 5px;
    width: 100px;
    height: 70px;
    cursor: pointer;
    font-size: 1.16rem;
    background: #339ecf;
    border-radius: 25px;
}

span{
    color: #125097;
}

.rein{
    width: 100px;
    height: 60px;
    color: blue;
    border-color: blue;
}

.incr{
    color: green;
    border-color: green;
}

.dism{
    color: red;
    border-color: red;
}